@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border p-0 m-0 scroll-smooth;
  }

  body {
    @apply min-h-screen w-full max-w-[2000px] border-x border-secondary-gray mx-auto text-white bg-primary-gray font-helvetica-neue tracking-wide;
  }
}

@layer utilities {
  .bg-gradient-blue {
    @apply bg-gradient-to-r from-primary-cyan to-primary-blue;
  }

  .bg-gradient-white {
    @apply bg-gradient-to-r from-white to-off-white;
  }

  .heading-gradient {
    @apply bg-gradient-to-b text-transparent bg-clip-text from-[#00A3FF] to-[#26B2FF];
  }

  .page-center {
    @apply flex flex-col h-[calc(100vh-74px)]; /* adjustment_height(header_height) */
  }

  .flex-col-center {
    @apply flex flex-col items-center justify-center;
  }

  .flex-row-center {
    @apply flex flex-row items-center justify-center;
  }

  .inline-flex-between {
    @apply inline-flex justify-between items-center w-full;
  }
}

/* Scroll bar */
::-webkit-scrollbar-track {
}
/* Handle on hover */
/*
::-webkit-scrollbar-thumb:hover {
  background: #7339fd;
}*/
/* width */
*::-webkit-scrollbar {
  display: none;
  /*
  width: 4px;
  height: 8px;
  border-radius: 100px;
*/
}

/* Input element */
/* For chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* For firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Toast */
.ToastRoot[data-swipe="move"] {
  transform: translateX(var(--radix-toast-swipe-move-x));
}
.ToastRoot[data-swipe="cancel"] {
  transform: translateX(0);
  transition: transform 200ms ease-out;
}
.ToastRoot[data-swipe="end"] {
  animation: slideRight 100ms ease-out;
}

@keyframes slideRight {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }
  to {
    transform: translateX(100%);
  }
}
